.wishlist-pagination {
  text-align: center;
  margin-top: 50px;
  .page-numbers {
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 2px 4px;
      &:last-child {
        margin-left: 1px;
        margin-right: 1px;
      }
      > * {
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        background-color: #eeeeee;
        display: inline-block;
        border-radius: 4px;
      }
      a {
        webkit-transition:all .3s linear;
        transition:all .3s linear;
        &:hover {
          background-color: #21759b;
          color: #fff;
        }
      }
      span.current {
        background-color: #21759b;
        color: #fff;
        cursor: no-drop;
      }
    }
  }
}