/**
 * Frontend Styles
 * @version 1.0.0
 * @since 1.0.0
 */
body.has_rox_pop {
  overflow: hidden;
}

.wishlist,
.wishlist *,
[class*="rox_wishlist"],
[class*="rox_wishlist"] *,
[class*="rox-wishlist"],
[class*="rox-wishlist"] * {
  box-sizing: border-box;
}

/**
 * Icons
 */
.rox-wpwl-icon {
  position: relative;
  display: inline-block;
}
.rox-wpwl-icon svg {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: #000;
  transition: all 100ms linear;
}
.rox-wpwl-icon.icon-add-new-list {
  height: 17px;
}
.rox-wpwl-icon.icon-heart svg {
  fill: #ab1616;
}
.rox-wpwl-icon.icon-reload svg {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 4000ms;
  animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.rox-wpwl-icon.no-animation svg {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rox-wishlist-button .rox-wpwl-icon {
  width: 25px;
  height: 25px;
  position: relative;
  display: block;
  text-align: center;
  margin: 1px auto;
}
.rox-wishlist-button .rox-wpwl-icon svg {
  width: 100%;
  height: 100%;
  padding: 2px;
}
.rox-wishlist-button:hover .rox-wpwl-icon.icon-heart svg {
  fill: #e62222;
}
.rox-wishlist-button.button.style-1 {
  padding: 6px 12px;
  display: inline-block;
  background: #21759b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: all .3s linear;
  font-weight: 500;
  font-smoothing: antialiased;
  margin-bottom: 10px;
}
.rox-wishlist-button.button.style-1:hover {
  background: #0a4763;
  color: #fff;
}
.rox-wishlist-button.button.style-2, .rox-wishlist-button.button.style-3 {
  position: relative;
  padding: 4px 22px;
  display: inline-block;
  background: #21759b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: all .3s linear;
}
.rox-wishlist-button.button.style-2 svg, .rox-wishlist-button.button.style-3 svg {
  fill: #fff;
}
.rox-wishlist-button.button.style-2:hover, .rox-wishlist-button.button.style-3:hover {
  background: #0a4763;
  color: #fff;
}
.rox-wishlist-button.button.style-2:after, .rox-wishlist-button.button.style-3:after {
  content: '';
  display: inline-block;
  position: relative;
  line-height: inherit;
  font-size: inherit;
}
.woocommerce .rox-wishlist-button.button.style-2, .woocommerce .rox-wishlist-button.button.style-3 {
  background: #21759b;
  transition: all .3s linear;
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  border-radius: 4px;
  left: auto;
  color: #515151;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
.woocommerce .rox-wishlist-button.button.style-2:focus, .woocommerce .rox-wishlist-button.button.style-3:focus {
  outline: none;
}
.woocommerce .rox-wishlist-button.button.style-2:hover, .woocommerce .rox-wishlist-button.button.style-3:hover {
  background: #0a4763;
}
.woocommerce .entry-summary .rox-wishlist-button.button.style-2, .woocommerce .entry-summary .rox-wishlist-button.button.style-3 {
  margin-left: 3px;
}
.rox-wishlist-button.button.style-2 .rox-wpwl-icon, .rox-wishlist-button.button.style-3 .rox-wpwl-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.list-actions .button {
  padding: 6px 12px;
  color: #21759b;
  display: inline-block;
  background: #21759b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  webkit-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-font-smoothing: antialiased;
}
.list-actions .button .rox-wpwl-icon svg {
  fill: #fff;
}
.list-actions .button:hover {
  background: #0a4763;
}

.item-actions .button {
  padding: 6px 12px;
  display: inline-block;
  background: #21759b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.item-actions .button .rox-wpwl-icon svg {
  fill: #fff;
}
.item-actions .button:hover {
  background: #0a4763;
}
.item-actions .button:visited, .item-actions .button:hover, .item-actions .button:focus, .item-actions .button:active {
  color: #fff;
}
.item-actions .added_to_cart {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
.item-actions .added_to_cart:visited, .item-actions .added_to_cart:hover, .item-actions .added_to_cart:focus, .item-actions .added_to_cart:active {
  color: #515151;
}

.rox-pop-actions .button {
  display: inline-block;
  background: #21759b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.rox-pop-actions .button:hover {
  background: #0a4763;
}

.wishlist-archive .wishlist-item {
  width: 100%;
  position: relative;
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #eee;
}
.wishlist-archive .wishlist-item.has_thumb .thumb a img {
  float: left;
  width: 20%;
  margin-bottom: 0;
}
.wishlist-archive .wishlist-item.has_thumb .summery {
  float: left;
  width: 80%;
  padding-left: 20px;
}
.wishlist-archive .wishlist-item.has_thumb .list-actions {
  width: 80%;
  float: left;
  padding-left: 20px;
}
.wishlist-archive .wishlist-item:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
.wishlist-archive .summery .list-title h3 {
  margin-bottom: 18px;
  margin-top: 0;
}
.wishlist-archive .summery .list-title h3 a {
  color: #666;
  font-weight: 500;
}
.wishlist-archive .summery .list-title h3 a:hover {
  color: #3a3a3a;
}
.wishlist-archive .summery .info-meta {
  margin-bottom: 10px;
}
.wishlist-archive .summery .info-meta > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.wishlist-archive .summery .info-meta > div a {
  color: #21759b;
}
.wishlist-archive .summery .info-meta > div a:hover {
  color: #3a3a3a;
}
.wishlist-archive .summery .info-meta .list-author img {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.wishlist-archive .summery .list-actions a {
  display: inline-block;
  padding: 7px 11px;
  font-size: 13px;
}

.wishlist-single .list-section h2 {
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  font-weight: 500;
  color: #666;
}
.wishlist-single .list-item {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.wishlist-single .list-item + .list-item {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #eee;
}
.wishlist-single .list-item .item-thumb {
  float: left;
  width: 20%;
  padding-right: 25px;
}
.wishlist-single .list-item .item-thumb img {
  display: inline-block;
}
.wishlist-single .list-item .list-contents {
  float: left;
  width: 80%;
  margin-bottom: 25px;
}
.wishlist-single .list-item .list-contents .item-name {
  margin-top: 0;
  margin-bottom: 5px;
}
.wishlist-single .list-item .list-contents .item-name a {
  font-weight: 500;
  color: #666;
}
.wishlist-single .list-item .item-actions a + a {
  margin-left: 10px;
}
.wishlist-single .list-item:last-child {
  margin-bottom: 20px;
}
.wishlist-single .list-cover {
  position: relative;
  margin-bottom: 20px;
}
.wishlist-single .list-author {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.wishlist-single .list-author img {
  width: 90px;
  height: auto;
}
.wishlist-single .item-desc {
  overflow: hidden;
}
.wishlist-single .item-desc .wp-post-image {
  margin-left: initial;
}
.wishlist-single .item-desc .in-stock {
  color: #ff0000;
}
.wishlist-single .item-desc .rox-product-price,
.wishlist-single .item-desc .stock,
.wishlist-single .item-desc .wishlist-item-rating {
  display: inline-block;
  margin-right: 10px;
}
.wishlist-single .item-desc .rox-product-price .star-rating,
.wishlist-single .item-desc .stock .star-rating,
.wishlist-single .item-desc .wishlist-item-rating .star-rating {
  margin-top: 5px;
  height: 1.5em;
  line-height: 2;
}
.wishlist-single .item-desc .rox-product-price .star-rating span:before,
.wishlist-single .item-desc .stock .star-rating span:before,
.wishlist-single .item-desc .wishlist-item-rating .star-rating span:before {
  color: #f2b01e;
}
.wishlist-single .item-desc .rox-product-price:last-child,
.wishlist-single .item-desc .stock:last-child,
.wishlist-single .item-desc .wishlist-item-rating:last-child {
  margin-right: 0;
}
.wishlist-single .item-desc p {
  margin-bottom: 17px;
}
.wishlist-single .list-actions {
  width: 100%;
  padding-left: 0;
  margin-bottom: 25px;
  text-align: right;
}
.wishlist-single .list-actions .button {
  position: relative;
  display: inline-block;
}
.wishlist-single .list-actions .button + .button {
  margin-left: 10px;
}
.wishlist-single .list-actions .button span.rox-wpwl-icon {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
  top: 3px;
}
.wishlist-single .list-actions .button.list-status span.rox-wpwl-icon {
  margin: 0;
}
.wishlist-single .list-actions div.button {
  cursor: default;
}
.wishlist-single .list-actions a + a {
  margin-left: 10px;
}
.wishlist-single .item-name {
  width: 100%;
}
.wishlist-single figure.thumb img {
  width: 100%;
}

.comments-area #reply-title {
  font-weight: 500;
}
.comments-area #respond form label {
  margin-bottom: 6px;
}
.comments-area #respond form textarea:focus {
  box-shadow: none;
  border: 1px solid #21759b;
  outline: none;
}

.rox-alert {
  position: relative;
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 15px;
}
.rox-alert.rox-info {
  color: #2796c7;
  background: #f1f9fc;
}
.rox-alert.rox-success {
  color: #2ca247;
  background: #d8f5df;
}
.rox-alert.rox-error {
  color: #e02e21;
  background: #f9d7d4;
}

.rox_wishlist_pop {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
}
.rox_wishlist_pop .back_drop {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.rox_wishlist_pop .rox_pop_container {
  position: absolute;
  display: none;
  width: 500px;
  left: 50%;
  top: 50%;
  padding: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #fff;
}
.rox_wishlist_pop .rox_pop_container.wishlist-editor {
  width: 600px;
  padding: 30px;
  border-radius: 4px;
}

.rox_pop_container ul, .rox_pop_container li {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.rox_pop_container .pop-header {
  padding: 6px 0px;
  border-bottom: 1px solid #ededed;
}
.rox_pop_container .pop-title {
  margin-bottom: 6px;
}
.rox_pop_container .pop-title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.rox_pop_container .pop-footer .pop-new-list {
  position: relative;
  display: block;
}
.rox_pop_container .pop-footer .pop-new-list a {
  position: relative;
  font-size: 13px;
  display: inline-block;
  background: #21759b;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  padding: 6px 12px;
}
.rox_pop_container .pop-footer .pop-new-list a svg {
  fill: #fff;
}
.rox_pop_container .pop-footer .pop-new-list a:hover {
  background: #0a4763;
}
.rox_pop_container .pop_contents {
  padding: 20px 0;
  overflow-y: scroll;
}
.rox_pop_container .pop_contents .list-name {
  margin-bottom: 1px;
}
.rox_pop_container .pop_contents .list-privacy {
  margin-bottom: 10px;
}
.rox_pop_container.wishlist-editor {
  padding: 20px;
}
.rox_pop_container.wishlist-editor .pop_contents {
  height: auto;
  max-height: none;
}
.rox_pop_container li {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin: 6px auto;
}
.rox_pop_container li label {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}
.rox_pop_container li label span {
  position: relative;
  display: inline-block;
}
.rox_pop_container li label .list-name {
  float: left;
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}
.rox_pop_container li label .list-name input[type=checkbox] {
  position: relative;
  font-size: 31px;
  margin-right: 3px;
  top: 0px;
  margin-left: 0;
}
.rox_pop_container li label .list-extra {
  float: right;
  overflow: hidden;
  height: 18px;
}
.rox_pop_container li label .list-extra > span img, .rox_pop_container li label .list-extra > span svg {
  width: 18px;
}
.rox_pop_container .pop-footer .icon-add-new-list svg {
  vertical-align: middle;
}

/**
 * Rox PopUp Forms
 */
.rox-pop-form .button {
  padding: 4px 12px;
  font-size: 12px;
}
.rox-pop-form > div {
  position: relative;
}
.rox-pop-form > div label {
  margin-bottom: 4px;
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
.rox-pop-form > div input[type="text"], .rox-pop-form > div select, .rox-pop-form > div textarea {
  display: block;
  width: 100%;
  font-size: 12px;
  background: transparent;
  box-shadow: none;
  padding: 5px 6px 5px 0;
  margin-bottom: 6px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.rox-pop-form > div textarea {
  height: 200px;
}
.rox-pop-form > div select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 17px) calc(1em + 0.2px), calc(100% - 13px) calc(1em + 0.2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 6px, 1px 1.5em;
  background-repeat: no-repeat;
}
.rox-pop-form span.character-counter {
  font-size: 10px;
  display: block;
  text-align: right;
  position: absolute;
  bottom: -12px;
  right: 0;
}
.rox-pop-form .list-name {
  margin-bottom: 23px;
}
.rox-pop-form .list-name input:focus {
  border-bottom: 1px solid #21759b;
}
.rox-pop-form .list-privacy {
  margin-bottom: 23px;
}

.rox-pop-form.edit-list > div {
  position: relative;
}
.rox-pop-form.edit-list > div label {
  margin: 10px 0;
  font-size: 14px;
}
.rox-pop-form.edit-list > div input[type="text"], .rox-pop-form.edit-list > div select, .rox-pop-form.edit-list > div textarea {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 5px 10px;
}
.rox-pop-form.edit-list > div input[type="text"]:focus, .rox-pop-form.edit-list > div select:focus, .rox-pop-form.edit-list > div textarea:focus {
  border: 1px solid #21759b;
}

/**
 * Action Buttons
 */
.rox-pop-actions .button {
  padding: 8px 15px;
  font-size: 15px;
  line-height: 23px;
}

.pop-footer .rox-pop-form {
  position: relative;
  display: none;
}

.pop-info {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.73);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 25px;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pop-info .info-contents {
  background: #FFF;
  padding: 10px;
  position: relative;
  width: 100%;
  top: 6%;
}

.wishlist-pagination {
  text-align: center;
  margin-top: 50px;
}
.wishlist-pagination .page-numbers {
  margin: 0;
  list-style-type: none;
}
.wishlist-pagination .page-numbers li {
  display: inline-block;
  margin: 0 2px 4px;
}
.wishlist-pagination .page-numbers li:last-child {
  margin-left: 1px;
  margin-right: 1px;
}
.wishlist-pagination .page-numbers li > * {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #eeeeee;
  display: inline-block;
  border-radius: 4px;
}
.wishlist-pagination .page-numbers li a {
  webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.wishlist-pagination .page-numbers li a:hover {
  background-color: #21759b;
  color: #fff;
}
.wishlist-pagination .page-numbers li span.current {
  background-color: #21759b;
  color: #fff;
  cursor: no-drop;
}

/**
 * Loader Animation
 * @see https://codepen.io/mhk/pen/xmPBYp
 */
.roxLoaderContainer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
}

.roxLoader {
  /* position: relative; */
  position: absolute;
  display: inline-block;
  width: 5em;
  height: 5em;
  top: 50%;
  left: 50%;
  margin-top: -2.5em;
  margin-left: -2.5em;
  vertical-align: top;
  /* margin-bottom: $loader-size/2; */
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #229a3d;
  border-radius: 50%;
  -webkit-animation: rox-loader-spin 1.2s linear 0s infinite;
  animation: rox-loader-spin 1.2s linear 0s infinite;
  z-index: 9999999;
}
.roxLoader.complete {
  -webkit-animation: none;
  animation: none;
  border-color: #229a3d;
  transition: border 500ms ease-out;
}
.roxLoader .checkmark {
  display: none;
}
.roxLoader .checkmark:after {
  opacity: 1;
  height: 2.5em;
  width: 1.25em;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 3px solid #229a3d;
  border-top: 3px solid #229a3d;
  content: '';
  left: 0.85em;
  top: 2.5em;
  position: absolute;
  -webkit-animation: rox-checkmark 900ms ease 0s 1;
  animation: rox-checkmark 900ms ease 0s 1;
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
}
.roxLoader.complete .checkmark {
  display: block;
}

@-webkit-keyframes rox-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rox-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rox-checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
}
@keyframes rox-checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
@media screen and (max-width: 445px) {
  .wishlist-single .list-actions .button {
    padding-left: 1em;
    padding-right: 1em;
  }

  .wishlist-single .list-actions .button + .button {
    margin-left: 5px;
  }

  .rox_wishlist_pop .rox_pop_container.wishlist-editor {
    width: calc( 100% - 30px );
  }

  .rox_pop_container.wishlist-editor .pop_contents {
    height: auto;
    max-height: none;
  }
}
@media screen and (max-width: 365px) {
  .wishlist-single .list-actions .button {
    padding: .3em .53em;
  }
}
